body{
	min-width: 650px;
}

.navbar{
	margin-bottom:0px;
	max-width:1400px;
	margin:0px auto;
}

a {
	color:#000 !important;
}

.logo-text-header{
	color:#333;
	font-size:12px;
	font-weight:200;
	margin-left:10px;
}

.container-fluid{
	max-width: 1400px;
}

.jumbotron{
	background: url('../img/intro.jpg');
	background-size: cover;
	background-position: center;
	height: 30vh;
}

.jumbotron-div{
	max-width:1400px;
	margin:0px auto;
}

.jumbotron-title{
	margin-top: 25px;
	font-family: 'Roboto', sans-serif !important;
	font-size:2em !important;
	color:#fff !important;
	font-weight: 400;
}
.jumbotron-text{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1.2em !important;
	color:#fff;	
	font-weight: 300;
	text-align: justify;
}

.btn-transparent{
	background-color:rgba(255, 255, 255, 0.05);
	border: 1px solid #fff;
	color:#fff;
	font-size: 1em !important;
	font-weight: 300;
}

.btn-transparent:hover{
	color:#fff;
	background-color:rgba(255, 255, 255, 0.2);
}

.btn-category{
	width:100%;
	text-align:left;
	color:#555;
	margin-bottom:1px;
	margin-right:1px;
}

.btn-category span{
	background-color:#eee !important;
	font-size:12px;
	font-weight: 300;
	color:#555;
}

.btn-category:hover{
	color:#000;
	background-color:#eee;
}

.show-offer-button{
	border-radius:1px solid #888;color:#888;
}

.side-content-column{
	border-right:1px solid #eee;
}

.content-title{
	width:100%;
	color:#555;
	border-bottom:1px solid #eee;
	padding-bottom:5px;
}

.alert{
	color: #856404;
	background-color: #fff3cd;
}

.alert .btn { border: none !important; }

.logo-text{
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400;
	font-size: 22px;
}

.text-white{
	color:#fff !important;
}

.tag-list{
	margin-left:10px;
}

.logo-text-highlight{
	color:#c00000;
	font-weight:600;
}

.job-num-results{
	padding:10px 30px;
	margin:0px;
}

.job-num-results span { color: #333; }

.job-search-div {
	padding:0px;margin:0px;text-align:right;
}

.job-search-div form{
	margin-top:4px;
}

/* Job Table */
.no-job-list{
	text-align:center;
	margin-top:20vh;
	width:80%;
	margin:15vh auto;
}

.job-table{
	margin-top:20px;
}

.job-logo-div{
	width:48px;
}

.job-box {
	border-top:0px;
	border-bottom: 1px solid #eee;
}

.job-box:hover .btn-apply{
	display:block;
}

.job-logo{
	width:64px;
	border-radius:8px;
	background-color: #eee;
	text-align:center;
	line-height: 64px;
	font-size:24px;
}

.job-tags{
	padding-top:28px;
	width:24%;
}

.job-date{
	width:8%;
	padding-top:30px;
	font-size:12px;
}

.job-apply{
	width:130px;
	padding-top:18px;
}

.image-job-logo{
	height:64px;
	min-width:48px;
	min-height:48px;
	background-color:transparent !important;
	backgound-position:center;
	background-size:cover;
	background-size:100% 100%;
}

.text-job-logo{
	min-width:48px;min-height:48px;
}

.job-info h2{
	margin-top:8px;
	margin-bottom:0px;
	font-size: 22px;
}

.job-info p{
	font-size:14px;
}

.btn-apply{
	display:none;
}

.job-badge{
	font-size: 12px;
	background-color: transparent;
	border: 1px solid #333;
	border-radius: 4px;
	color: #333;
	margin-right: 3px;
	cursor: pointer;
	padding-top: 4px;
	font-weight: 200;
}

.job-badge:hover{
	background-color: #eee;
}

.bottom-page-scroll {
	color:#fff !important;
}

.table tr:first-child td:nth-child(1), 
.table tr:first-child td:nth-child(2),
.table tr:first-child td:nth-child(3), 
.table tr:first-child td:nth-child(4),
.table tr:first-child td:nth-child(5){
    border:1px transparent;    
}

.table tr:hover{
	background: #f8f8f8;
}

.tag{
	cursor:pointer;
	padding:3px 12px;
	border-radius:4px;
}
.tag:hover{
	background: #eee;
}

.search-box{
	border: 0px;
	box-shadow: none;
	border-bottom: 1px solid #eee;
	border-radius: 0px;
	padding-right: 20px;
}

.search-box:focus{
	box-shadow:none;
	border:0px;
	border-bottom:1px solid #eee;
}

.btn-search{
	border:0px;
	color:#888;
}

.job-badge-sidebar {
	border:1px solid #555;
	color:#555;
	margin-bottom:2px;
}

.activeCat {
	background-color:#eee;
	font-weight:600;
}

.activeCat span{
	background: #fff !important;
}

.activeTag{
	background: #eee;
}

.activeTag:after{
	padding-left:5px;
	color:#555;
	content: "x";
}

.form-text{
	margin-left:30px;color:#ddd;font-size:10px;
}

.button-form-submit{
	margin:20px auto;
	margin-left:25%;
	height:40px;
	width:50%;
	background-color:#de3c3c;
	border:0px;
}

.close-modal-button {
	color:#fff;
	text-align:center;
	cursor:pointer;
	position:fixed;
	bottom:12vh;
	width:90%;
	font-weight:600;
}

.footer-bar{
	margin-top:60px;
	background-color:#de3c3c;
	color:#fff;
	min-height:10vh;
	padding:20px 0px;
}

.text-logo-style{
	color:#eee;
	font-size:12px;
	font-weight:200;
	margin-left:10px;
}

.footer-list-menu {
	max-width: 1400px;
	margin:20px auto; 
	list-style:none;
	text-align:center;
}

.footer-list-menu li{
	margin-left: -40px;
	display: inline-block;
	min-width:220px;
	cursor:pointer;
	padding:5px 3px;
}

.footer-list-menu li:hover{
	font-weight: 600;
	background-color:rgba(255,255,255,0.25);
}

.copyright-div {
	padding-top:20px;
	padding-bottom:20px;
}

.form-job-offer{
	color:#fff;
	float:right;
	background-color:rgba(0,0,0,0.25);
	padding:20px;
	border-radius:8px;
	margin-right:3%;
}

.modal-show-offer{
	z-index:100000 !important;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	min-height:100vh;
	background-color:rgba(255,255,255,0.8);
}

.modal-show-offer-div {
	z-index:10000;
	width:90%;
	max-width:1400px;
	border-radius:8px;
	min-height:86vh;
	margin:7vh auto;
}

.show-offer-text{
	font-weight:200;
	font-family:"Roboto",sans-serif !important;
	color:#fff;
	text-align:justify;
}

.margin-bottom20{
	margin-bottom:20px;
}

.old-price{
	margin:50px auto; width: 40%; font-size:22px; text-decoration:line-through;
}

.offer-price{
	border-radius: 8px; margin:50px auto; text-align:center; font-size:25px;font-family:"Roboto",sans-serif !important;color:#fff;
}

.offer-price h3{
	color:#fff;text-align:center;
}


/*
@media only screen and (min-width : 480px) {
	.jumbotron{
		padding:8px;
	}
	.jumbotron h1{
		font-size: 1.4em !important;
	}
	.jumbotron-title{
		margin-top:15px;
	}		
	.jumbotron-text{
		font-size:1em !important;
	}
	.job-info h2{
		font-size:16px !important;
	}
	.job-logo{
		margin-top:5px;
	}

}

@media only screen and (min-width : 768px) {
	body{
		backgound-color:#00ff00 !important;
	}
}

@media only screen and (min-width : 992px) {
	.jumbotron h1{
		font-size: 2em !important;
	}
	.jumbotron-title{
		margin-top:5vh;
	}		
	.jumbotron-text{
		font-size:1.4em !important;
	}
	.job-info h2{
		font-size:22px !important;
	}
	.job-logo{
		margin-top:5px;
	}
}

@media only screen and (min-width : 1200px) {
	body{
		backgound-color:#000 !important;
	}
}
*/
